body {
    margin-bottom: 0;
    font-family: Georgia, 'Times New Roman', serif;
    overflow-x: hidden;
}



a {
    color: navy;
}

hr {width: 90%;}

a:hover {
    transition: all 0.2s;
    color: palegoldenrod;
    box-shadow: 0 0 100px white;
}

a:visited {
    color: rgb(193, 193, 193);
}

/* MAIN PAGE */
header {
    background: linear-gradient(to left, #ff9a2f, black 60%);
    margin-left: -8px;
    margin-top: -8px;
    margin-bottom: 20px;
    padding: 30px 0px 20px 50px;
    width: 100%;
    box-shadow: 5px 0px 4px gray;
}

footer {
    position: static;
    background: linear-gradient(to right, #ff9a2f, black 60%);    margin-left: -8px;
    bottom: 0;
    padding: 20px;
    width: 100%;
}

footer p {
    color: white;
    text-align: center;
}

header, nav {
    display: inline-block;
}

.top-navlink{
    color: white;
    font-size: 16pt;
    width: min-content;
}

/* .top-navlink:hover {
    transition: all 0.2s;
    color: gold;
    /* box-shadow: 0 0 100px white;
} */

/* .top-navlink:visited {
    color: rgb(193, 193, 193);
} */

/* circle things dividing nav links */
nav p {
    display: inline-block;
    color: white;
    font-size: 20pt;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.main-title {
    text-align: center;
}

.title-stuff {
    text-align: center;
}

#cat-img {
    border-radius: 25px;
    box-shadow: 5px 5px 4px gray;
    width: 200px;
    height: 250px;
    transition: width 1s, height 1s;
}

#cat-img:hover {
    width: 350px;
    height: 400px;
}

.title-stuff #instructions {
    display: block;
}

/* --------------------------------- */
 /* CHARACTERISTICS TAB */
 /* li {
    text-transform: capitalize;
    list-style-position: inside;
} */

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-item {
    margin: 23px;
    /* margin-top: 0px; */
}

#horiz {
    display: flex;
    justify-content: center;
}

.char-caption {
    text-align: center;
}

/* .flex-item .list-caption {
    margin: 0%;
    width: min-content;
    height: min-content;
} */

.char-info {
    margin-left: 25px;
}

table {
    max-width: 400px;
    border-collapse: collapse;
    /* caption-side: bottom; */
}

    tr th{
        font-variant: small-caps;
        background-color: greenyellow;
        color: white;
        text-align: left;
    }

    #table-edge-left {
        border-top-left-radius: 10px;
    }

    #table-edge-right {
        border-top-right-radius: 10px;
    }

    th, td {
        padding: 12px 15px;
    }

    /* make border inside table only */
    td {
        border-left: 1px solid greenyellow;
    }

    td:first-of-type {
        border: none;
    }

    /* tbody tr {
        border-bottom: 2px solid red;
    } */

    tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    tbody tr:last-of-type{
        border-bottom: 2px solid greenyellow;
    }